* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: #0f172a;
  color: #fff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
